<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beyond.momentours.blacklist.query.repository.BlacklistMapper">
    <resultMap id="blacklistMap" type="beyond.momentours.blacklist.query.dto.BlacklistDTO">
        <id property="memberId" column="member_id"/>
        <result property="blackStatus" column="black_status"/>
        <result property="blackDate" column="black_date"/>
        <result property="accessibleDate" column="accessible_date"/>
        <result property="postId" column="post_id"/>
        <result property="postCategory" column="post_category"/>

        <!-- 회원 정보 추가 -->
        <association property="member" javaType="beyond.momentours.member.query.dto.MemberDTO">
            <id property="memberId" column="member_id"/>
            <result property="memberName" column="member_name"/>
        </association>
    </resultMap>

    <select id="findByBlacklistAll" resultMap="blacklistMap">
        SELECT
                a.member_id
                b.member_name
                a.black_status
                a.black_date
                a.accessible_date
                a.post_id
                a.post_category
           FROM tb_blacklist a
           JOIN tb_member b ON a.member_id = b.member_id
    </select>
</mapper>