<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beyond.momentours.pre_blacklist.query.repository.PreBlacklistMapper">
    <resultMap id="preBlacklistMap" type="beyond.momentours.pre_blacklist.query.dto.PreBlacklistDTO">
        <id property="preBlackId" column="pre_black_id"/>
        <result property="blackListCount" column="blacklist_count"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="memberId" column="member_id"/>
        <result property="reportId" column="report_id"/>

        <!-- 회원 정보 추가 -->
        <association property="member" javaType="beyond.momentours.member.query.dto.MemberDTO">
            <id property="memberId" column="member_id"/>
            <result property="memberName" column="member_name"/>
        </association>
    </resultMap>

    <select id="findByPreBlacklistAll" resultMap="preBlacklistMap">
        SELECT DISTINCT
        a.blacklist_count,
        a.status,
        a.created_at,
        a.pre_black_id,
        a.report_id,
        b.member_name
        FROM pre_blacklist a
        JOIN tb_member b ON a.member_id = b.member_id
    </select>
</mapper>