<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beyond.momentours.randomquestion.query.repository.RandomQuestionMapper">
    <resultMap id="userRandomQuestionResultMap" type="beyond.momentours.randomquestion.query.dto.UserRandomQuestionDTO">
        <id property="userQuesId" column="user_ques_id"/>
        <result property="ansStatus" column="ans_status"/>
        <result property="createdAt" column="created_at"/>
        <result property="used" column="used"/>
        <result property="coupleId" column="couple_id"/>
        <result property="quesId" column="ques_id"/>
        <result property="coupleQuesNo" column="couple_ques_no"/>

        <association property="randomQuestion" javaType="beyond.momentours.randomquestion.query.dto.RandomQuestionDTO">
            <id property="quesId" column="ques_id"/>
            <result property="quesContent" column="ques_content"/>
        </association>
    </resultMap>

    <resultMap id="randomQuestionResultMap" type="beyond.momentours.randomquestion.query.dto.RandomQuestionDTO">
        <id property="quesId" column="ques_id"/>
        <result property="quesContent" column="ques_content"/>
    </resultMap>

    <select id="getRandomQuestionByCursor" resultMap="userRandomQuestionResultMap">
        SELECT
        a.user_ques_id
        , a.ans_status
        , a.created_at
        , a.couple_id
        , b.ques_id
        , a.couple_ques_no
        , b.ques_content
        FROM tb_user_random_question a
        JOIN tb_random_question b ON a.ques_id = b.ques_id
        WHERE a.couple_id = #{coupleId}
        <if test="lastId != null">
            AND a.user_ques_id &lt; #{lastId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND b.ques_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY a.user_ques_id DESC
        LIMIT #{size}
    </select>

    <select id="getRandomQuestionByMemberId" resultMap="userRandomQuestionResultMap" parameterType="Long">
        SELECT a. user_ques_id
             , a.ans_status
             , a.created_at
             , a.couple_id
             , b.ques_id
          FROM tb_user_random_question a
          JOIN tb_random_question b ON a.ques_id = b.ques_id
         WHERE couple_id = (
        SELECT couple_id
          FROM TB_COUPLE_LIST
         WHERE member_id1 = #{memberId}
            OR member_id2 = #{memberId}
        )
    </select>

    <select id="getRandomQuestionByQuesId" resultMap="userRandomQuestionResultMap">
        SELECT user_ques_id
             , ans_status
             , created_at
             , couple_id
          FROM tb_user_random_question
         WHERE couple_id = (
        SELECT couple_id
          FROM TB_COUPLE_LIST
         WHERE member_id1 = #{memberId}
            OR member_id2 = #{memberId}
        )
           AND user_ques_id = #{userQuesIdx}
    </select>
    
    <!-- 모든 질문 조회 -->
    <select id="findAllQuestions" resultMap="randomQuestionResultMap">
        SELECT
               a.ques_id
             , a.ques_content
          FROM tb_random_question a
    </select>
    
    <!-- 특정 커플이 사용한 질문 목록 조회 -->
    <select id="findUsedQuestionsByCoupleId" resultType="Long">
        SELECT
               a.ques_id
          FROM tb_user_random_question a
         WHERE a.couple_id = #{coupleId}
    </select>

    <!-- 특정 quesId에 해당하는 질문 조회 -->
    <select id="findByQuestionId" resultMap="randomQuestionResultMap" parameterType="Long">
        SELECT
        ques_id,
        ques_content
        FROM tb_random_question
        WHERE ques_id = #{quesId}
    </select>

    <select id="findByUserQuesId" resultMap="userRandomQuestionResultMap" parameterType="Long">
        SELECT a. user_ques_id
        , a.ans_status
        , a.created_at
        , a.couple_id
        , a.ques_id
        FROM tb_user_random_question a
        WHERE user_ques_id = #{userQuesId}
    </select>

    <select id="findAnsStatusByUserQuesId" resultType="String">
        SELECT ans_status
        FROM tb_user_random_question
        WHERE user_ques_id = #{userQuesId}
    </select>

    <select id="findByAnsStatus" resultMap="userRandomQuestionResultMap" parameterType="Long">
        SELECT
               a.user_ques_id
             , a.ans_status
             , a.created_at
             , a.used
             , a.couple_id
             , a.ques_id
             , a.couple_ques_no
             , b.ques_content
          FROM tb_user_random_question a
          JOIN tb_random_question b ON a.ques_id = b.ques_id
         WHERE a.couple_id = #{coupleId}
            AND a.couple_ques_no = (
            SELECT MAX(couple_ques_no)
            FROM tb_user_random_question
            WHERE couple_id = #{coupleId}
            )
    </select>

    <select id="findQuestionsByMemberId" resultType="Long" parameterType="Long">
        SELECT
               COALESCE(MAX(a.couple_ques_no), 0)
          FROM tb_user_random_question a
         WHERE a.couple_id = #{coupleId}
    </select>

    <select id="existsByCoupleIdAndCoupleQuesNoAndAnsStatus" resultType="boolean" parameterType="map">
        SELECT EXISTS (
            SELECT 1 FROM tb_user_random_question a
            WHERE a.couple_id = #{coupleId}
            AND a.couple_ques_no = #{coupleQuesNo}
            AND a.ans_status = #{ansStatus}
            LIMIT 1
        )
    </select>
</mapper>