<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beyond.momentours.mapper.PlanMapper">
    <resultMap id="planResultMap" type="beyond.momentours.plan.command.domain.aggregate.entity.Plan">
        <id property="planId" column="plan_id"/>
        <result property="planTitle" column="plan_title"/>
        <result property="planContent" column="plan_content"/>
        <result property="planStartDate" column="plan_start_date"/>
        <result property="planEndDate" column="plan_end_date"/>
        <result property="planStatus" column="plan_status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="memberId" column="member_id"/>
        <result property="coupleId" column="couple_id"/>
        <result property="courseId" column="course_id"/>
    </resultMap>

    <select id="findByMemberId" resultType="int" parameterType="int">
        SELECT member_id
          FROM tb_member
         WHERE member_id = #{memberId}
           AND member_status = 1;
    </select>

    <select id="findByCoupleId" resultType="int" parameterType="int">
        SELECT couple_id
          FROM tb_couplelist
         WHERE (member_id = #{memberId1} OR (member_id = #{memberId2})
           AND couple_status = 1;
    </select>

    <select id="findByCourseId" resultType="int" parameterType="int">
        SELECT course_id
        FROM tb_date_course
        WHERE course_id = #{courseId}
        AND course_status = 1;
    </select>

</mapper>